<div class="mob_only" id="header_mob">
    <img src="{{asset('bundles/adidasom/images/logo_adidas_mob.gif')}}" alt="Adidas">
    <!-- Menu mobile -->
    <div class="menu_mob">
        <a href="#"><img src="{{asset('bundles/adidasom/images/picto_menu_mob.png')}}" alt="Menu"></a>
        <ul>
            <li><a href="challenges.html" class="actif">Challenge</a></li>
            <li><a href="classement.html">Classements</a></li>
            <li><a href="mon_compte.html">Mon compte</a></li>
        </ul>
    </div>
    <!-- Menu mobile -->
</div>